<div class="principal">
    <div class="tituloPrincipal">
        <h1 style="color: rgb(255, 255, 255);">Inicio de Sesión</h1>
    </div>

    <div class="campos">
        <form>
            <Input type="text" placeholder="Introduce tu nombre de usuario" class="loginField"><br>
            <Input type="password" placeholder="Introduce tu contraseña" class="loginField">
        </form>
    </div>

    <a href="https://es.wikipedia.org/wiki/Wikipedia:Portada" style="color: white;" target="_blank">He olvidado mi contraseña</a>

    
</div>

<div class="Botones">
    <button class="iniciarSesion" (click)="login()">Iniciar Sesión</button>
</div>