<div class="principal">
    <div class="nav">
        <ul>
          <li class="nav-site"><a href="../incidencias/incidencias.component.html">Incidencias</a></li>
          <li class="usuarios"><a href="#">Usuarios</a>
              <ul class="usuariosSubmenu">
                <li><a href="">Añadir Nuevo Usuario</a></li>
                <li><a href="">Eliminar Usuario</a></li>
              </ul>
          </li>
          <li class="actuaciones" style="background: linear-gradient(#3f2a88, #192d57);"><a href="../actuaciones/actuaciones.component.html" style="color: #fff;">Actuaciones</a>
            <ul class="submenu">
              <li><a href="">Añadir Nueva Incidencia</a></li>
              <li><a href="">Eliminar Incidencia</a></li>
              <li><a href="">Modificar Incidencia</a></li>
            </ul>
          </li>
          <li class="nav-site"><a href="#">Resumen</a></li>
        </ul>
      </div>

    
    <div class="titulo-main">
        <p>Actuaciones > Añadir Nueva Incidencia</p>
    </div>

    <div class="main">
        <div class="top">
            <div class="imagen">
                <div class="foto">
                </div>
                <input type="file" placeholder="Añadir">
            </div>
            <div class="datosAlumno">
                <Input type="text" placeholder="*Identificador Alumno" class="loginField" style="margin-top: 0.35%;" required><br>
                <Input type="text" placeholder="*Nombre Alumno" class="loginField" required><br>
                <Input type="text" placeholder="*Curso Alumno" class="loginField2" required><Input type="text" placeholder="*Tutor Alumno" class="loginField2" required><br>
                <Input type="tel" placeholder="Telefono de contacto Alumno/Padres" class="loginField2"><Input type="email" placeholder="Correo electronico de contacto Alumno/Padres" class="loginField2"><br>
                <Input type="date" placeholder="Fecha Inicio de Incidencia" class="dateField"><Input type="date" placeholder="Fecha fin incidencia" class="dateField">
            </div>
        </div>

        <div class="sintomas">
          <Input type="text" placeholder="*Sintomas del alumno" class="sintomasField" required><br>
        </div>
    </div>

    <div class="acciones">
      <button class="cancelarboton" (click)="Cancelar()">Cancelar</button><button class="aceptarboton" (click)="Aceptar()">Aceptar</button>
    </div>
   
    
</div>
