<div class="principal">
    <div class="nav">
        <ul>
          <li class="nav-site"><a href="../incidencias/incidencias.component.html">Incidencias</a></li>
          <li class="usuarios"><a href="#">Usuarios</a>
              <ul class="usuariosSubmenu">
                <li><a href="">Añadir Nuevo Usuario</a></li>
                <li><a href="">Eliminar Usuario</a></li>
              </ul>
          </li>
          <li class="actuaciones"><a href="../actuaciones/actuaciones.component.html">Actuaciones</a>
            <ul class="submenu">
              <li><a href="">Añadir Nueva Incidencia</a></li>
              <li><a href="">Eliminar Incidencia</a></li>
              <li><a href="">Modificar Incidencia</a></li>
            </ul>
          </li>
          <li class="nav-site"><a href="#">Resumen</a></li>
        </ul>
      </div>

      <div class="resumencontenedor">
        <p>Resumen Semanal</p>
        <hr> 
      </div>

    <div class="accesorapido">
        <div class="calendario"></div>

        <div class="nuevaIncidencia"></div>

        <div class="correo"></div>
    </div>
</div>